<% title @post.title %>
<% noindex %>

<div id="blogfeed" class="container">
<div class="row">
  <div id="post_content" class="col-md-8">
    <h1><%= @post.title %></h1>
    <% if user_signed_in? %>
    <div id="subtext">
      <%= link_to 'EDIT', edit_post_path(@post) %> | <%= link_to 'DELETE', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
    <%= raw @post.body %>
  </div>
  <div class="col-md-4">
    <%= link_to "CONTACT US NOW", contact_us_path, class: "btn btn-lg btn-danger full-width" %>
  </div>
</div>
</div>
